[href="#ideveloper1"]{color:black;}
[href="#ideveloper2"]{color:black;}
[href="#ideveloper3"]{color:black;}
[href="#ideveloper4"]{color:black;}
[href="#ideveloper5"]{color:black;}
[href="#ideveloper6"]{color:black;}
[href="#ideveloper7"]{color:black;}
[href="#ideveloper8"]{color:black;}
[href="#ideveloper9"]{color:black;}